<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<style>

  body{

    margin: 0;

    padding: 0;

  }

  .left , .right{

    height: 300px;

    width: 200px;

    float: left;

  }

  .right{

    margin-left: -200px;

    background-color: red;

  }

  .left{

    margin-left: -100%;

    background-color: #080808;

  }

  .middle{

    height: 300px;

    width: 100%;

    float: left;

    background-color: blue;

  }

</style>



<!--放第一行-->

<div class="middle">middle</div>

<div class="left">left</div>

<div class="right">right</div>


</body>
</html>