<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/stylesheets/resume.css">
  <title>个人馆</title>
</head>
<body>
<div class="viewport" r-style="-webkit-perspective: {half}px; ">
  <div class="main_container" r-style=" -webkit-transform-origin: 50% 50% {half}px ; -webkit-transform: translateZ(0) rotateY(0deg)">
    <div class="slide_basic">
      <div class="basic_bar">
        <div class="head_bar"><img src="/images/head.jpg" alt="" class="head"></div>
        <div class="btn_bar">
          <p class="basic_item"><span class="name">email: </span>wangcong_1993@foxmail.com</p>
          <p class="basic_item"><span class="name">github：</span>ganother<span class="split">|</span><a href="https://github.com/Ganother" title="" target=""
                                                                              class="link">https://github.com/Ganother</a></p>
          <p class="basic_item"><span class="name">微博：</span><a href="http://weibo.com/ganother?is_all=1" title="" target="" class="link">Ganother_首席银盘君</a></p>
          <p class="basic_item">前端开发/页面重构</p>
          <p class="basic_item"><span class="name">tags：</span>中二\精分\喜独\凉\dance</p>
        </div>
      </div>
      <div class="bottom_arrow">
        <i class="arrow_item"></i>
        <i class="arrow_item"></i>
        <i class="arrow_item"></i>
        <i class="arrow_item"></i>
        <i class="arrow_item"></i>
      </div>
    </div>
    <div class="slide_skills" r-style="-webkit-transform: translate3d({half}px, 0, {half}px)  rotateY(-90deg)">
      <div class="wrapper">
        <p class="title">Skills</p>
        <div class="skill-item">
          <div class="circle-wrapper">
            <div class="circle-item">
              <div class="circle circle80-left"></div>
            </div>
            <div class="circle-item left">
              <div class="circle circle-right-full"></div>
            </div>
          </div>
          <p class="skill-number">
            80%
          </p>
          <div class="pot-bar">
            <span class="item-pot">Html</span>
            <span class="item-pot">Css</span>
            <span class="item-pot">Javascript</span>
            <span class="item-pot">Jquery/Zepto</span>
          </div>
        </div>
        <div class="skill-item">
          <div class="circle-wrapper">
            <div class="circle-item">
              <div class="circle circle-left-empty"></div>
            </div>
            <div class="circle-item left">
              <div class="circle circle-right-full"></div>
            </div>
          </div>
          <p class="skill-number">
            50%
          </p>
          <div class="pot-bar">
            <span class="item-pot">PhotoShop</span>
            <span class="item-pot">Php</span>
            <span class="item-pot">MVC</span>
            <span class="item-pot">Angular</span>
            <span class="item-pot">MVVM</span>
          </div>
        </div>
        <div class="skill-item">
          <div class="circle-wrapper">
            <div class="circle-item">
              <div class="circle circle-left-empty"></div>
            </div>
            <div class="circle-item left">
              <div class="circle circle20-right"></div>
            </div>
          </div>
          <p class="skill-number">
            other↑
          </p>
          <div class="pot-bar">
            <span class="item-pot">Canvas</span>
            <span class="item-pot">mySql</span>
            <span class="item-pot">NodeJs</span>
            <span class="item-pot">Mongodb</span>
          </div>
        </div>
      </div>
    </div>
    <div class="slide_info" r-style="-webkit-transform: translate3d(-{half}px, 0, {half}px)  rotateY(90deg)">
      <div class="wrapper">
        <a href="//www.ganother.com" title="" target="_target" class="info-link">博客:激素不正常</a>
        <p class="desc">快来看我!快来批判我!</p>
      </div>
    </div>
    <div class="slide_projects"  r-style="-webkit-transform: translateZ({width}px) rotateY(180deg)">
      <div class="wrapper">
        <div class="title">projects</div>
        <div class="project-bar">
          <div class="project-item">
            <div class="project-img">
              <img src="/images/community.jpg" alt="" class="img">
            </div>
            <a class="project-title" href="//w.midea.com/community">美的社区</a>
          </div>
          <div class="project-item">
            <div class="project-img">
              <img src="/images/acts.jpg" alt="" class="img">
            </div>
            <p class="project-title">美的商城活动卖场+小游戏</p>
          </div>
          <div class="project-item">
            <div class="project-img">
              <img src="/images/backsystem.jpg" alt="" class="img">
            </div>
            <p class="project-title">某管理后台(Angular)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <a href="http://www.miitbeian.gov.cn/" title="" target="" class="footer-text">粤ICP备16043840号</a>
</div>

<div class="loading_layer" id="loadingLayer" style="display:block;">
  <img src="/images/loading.gif" alt="" class="loading">
</div>
</body>
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/resume.js"></script>
</html>
